body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: hsla(0, 0%, 5%,1);
}

canvas#main-canvas {
    background-color: white;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
