body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: hsla(0, 0%, 5%,1);
    overflow: hidden;
}

canvas#main-canvas {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
}
