[package]
name = "main"
version = "0.1.0"
edition = "2024"

[dependencies]
shared = { path = "../shared" }
winit = { workspace = true }
anyhow = { workspace = true }
env_logger = "0.11.8"
log = { workspace = true }
